body {
    background-color: #151515;
    margin: 0;
    padding: 5;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    color: #39FF14;
    margin: 10px;
    padding: 5px;
}

p {
    color: #ff6600;
    margin: 10px;
    padding: 5px;
}

.box {
    background-color: #454545;
    margin: 20px;
    padding: 5px;
    padding-left: 20px;
}
